<!-- NOTE: This is not currently used. Check `src/layouts/partials/calculation_methodology/` instead. -->
<section class="bg-primary text-light">
  <div class="guide-header container-lg px-lg-0 px-sm-5">
    <div class="guide-header-title py-4">
      <div class="px-0 mr-2">
        <h2 class="mb-0">{{ .Title }}</h2>
      </div>
      <div 
        class="d-flex justify-content-center align-items-center px-2 py-1 text-center" 
        style="border-radius: 10px; background-color: #429049; height: 3rem;"
      >
        Measurement Technique
      </div>
    </div>
  </div>
</section>