{{ $wordpress_website_url := .Site.Params.wordpressWebsiteURL }}
<section class="footer">
	<div class="wrapper-footer footer-links">
		<div class="container px-0 py-5">
			<div class="footer__widget">
				<div class="col-md-7">
					<div class="footer__widget_logo mb-5">
						<img src="{{ .Site.Params.footerLogo | absURL }}" style="max-width: 300px;" class="img-fluid mb-3" alt="NYCET logo">
						<div style="color: black; font-size: 16px;">
							<p>
								{{ .Site.Params.footerHeading }}
							</p>
							<p>
								{{ .Site.Params.footerDescription }}
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="">
						<span style="color: black; font-size: 1.25rem; line-height: 1.4; margin-top: 30px; font-weight: bold;">Brought to you by:</span>
						<div>
							<img src="{{ .Site.Params.nycDcasLogo | absURL }}" style="max-width: 194px;" class="img-fluid mr-4" alt="NYC DCAS logo">
							<img src="{{ .Site.Params.bplLogo | absURL }}" style="max-width: 194px;" class="img-fluid" alt="BPL logo">
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex mb-3">
				<div class="col">
					<div class="footer-site-map">
						<h5 class="mb-3">
							<a href="https://nycenergytools.com/equipment/">Equipment</a>
						</h5>
						<ul class="unstyle-list site-links">
							{{ range .Site.Menus.sitemap }}
								{{ if eq .Params.category "equipment" }}
									<li class="mb-2"><a href="{{ $wordpress_website_url }}{{ .URL }}">{{ .Name }}</a></li>
								{{ end }}
							{{ end }}
						</ul>
					</div>
				</div>
				<div class="col">
					<div class="footer-site-map">
						<h5 class="mb-3">
							<a href="https://nycenergytools.com/equipment/">Equipment Kits</a>
						</h5>
						<ul class="unstyle-list site-links">
							{{ range .Site.Menus.sitemap }}
								{{ if eq .Params.category "equipment-kits" }}
									<li class="mb-2"><a href="{{ $wordpress_website_url }}{{ .URL }}">{{ .Name }}</a></li>
								{{ end }}
							{{ end }}
						</ul>
					</div>
				</div>
				<div class="col">
					<div class="footer-site-map">
						<h5 class="mb-3">
							<a href="https://nycenergytools.com/equipment/">Resources</a>
						</h5>
						<ul class="unstyle-list site-links">
							{{ range .Site.Menus.sitemap }}
								{{ if eq .Params.category "resources" }}
									<li class="mb-2"><a href="{{ $wordpress_website_url }}{{ .URL }}">{{ .Name }}</a></li>
								{{ end }}
							{{ end }}
						</ul>
					</div>
				</div>
				<div class="col">
					<div class="footer-site-map">
						<h5 class="mb-3">
							<a href="https://nycenergytools.com/equipment/">Support</a>
						</h5>
						<ul class="unstyle-list site-links">
							{{ range .Site.Menus.sitemap }}
								{{ if eq .Params.category "support" }}
									<li class="mb-2"><a href="{{ $wordpress_website_url }}{{ .URL }}">{{ .Name }}</a></li>
								{{ end }}
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			<div class="container" style="color: black;">
				<div class="mb-3">
					<h5 style="color: black;">Contact</h5>
				</div>
				<div class="row">
					<div class="col">
						<span style="font-size: 16px;" class="font-weight-bolder">Equipment Requests</span>
						<div class="d-flex flex-column">
							<span style="font-size: medium;">{{ .Site.Params.contactPersonName }}</span>
							<span style="font-size: medium;">Email: {{ .Site.Params.contactPersonEmail }}</span>
						</div>
					</div>
					<div class="col">
						<span style="font-size: 16px;" class="font-weight-bolder">Municipal Library</span>
						<div class="d-flex flex-column">
							<span style="font-size: medium;">31 Chambers St,<br>New York, NY 10007</span>
						</div>
					</div>
					<div class="col">
						<span style="font-size: 16px;" class="font-weight-bolder">Drop off Location</span>
						<div class="d-flex flex-column">
							<span style="font-size: medium;">96 Greenwich Street, 4th Floor,<br>New York, NY 10006</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright  wrapper-footer py-2">
		<div class="container px-0">
			{{ .Site.Params.copyright }}
		</div>
	</div>
</section>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.map.APIkey }}&libraries=geometry"></script> -->
<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<!-- <script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script> -->
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | absURL }}"></script>
<script src="{{ "plugins/magnafic-popup/jquery.magnific-popup.min.js" | absURL }}"></script>
<!-- <script src="{{ "plugins/tweenmax/TweenMax.min.js" | absURL }}"></script> -->
<script src="{{ "plugins/imagesloaded/imagesloaded.min.js" | absURL }}"></script>
<script src="{{ "plugins/masonry/masonry.min.js" | absURL }}"></script>
<script type="text/javascript" src="/js/lightbox.js"></script>

<script>
	MathJax = {
	  tex: {
		inlineMath: [['$', '$'], ['\\(', '\\)']],
		tags: 'ams'
	  }
	};
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
<!-- <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {
		inlineMath: [['$','$'], ['\\(','\\)']],
		displayMath: [['$$','$$'], ['\[','\]']],
		processEscapes: true,
		processEnvironments: true,
		skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
		TeX: { equationNumbers: { autoNumber: "AMS" },
			 extensions: ["AMSmath.js", "AMSsymbols.js"] }
	  }
	});
	MathJax.Hub.Queue(function() {
		var all = MathJax.Hub.getAllJax(), i;
		for(i = 0; i < all.length; i += 1) {
			all[i].SourceElement().parentNode.className += ' has-jax';
		}
	});
	</script> -->
	
{{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
{{ range .Site.Params.plugins.js }}
<script src="{{ .link | absURL }}"></script>
{{ end }}