{{ partial "basic/breadcrumb-hero.html" . }}
{{ with .Site.Data.hero }} {{ if .enable }}
<section class="hero" id="home">
  <div class="container-fluid hero_container">
    <div class="content align-items-center text-center">
      <div class="col-md-12" >
        <div class="hero_content text-center">
          <div class="container content-text px-5">{{ .content | markdownify }}</div>
          <div class="hero_content-search-bar">
            <form action="#" class="mb-0" onsubmit="doSearchGuides(guideSearchBarId);return false">
              <input id="guide-search-bar" type="search" placeholder="Search">
              <button type="submit">Search</button>
              <button id="dropdown-trigger" onclick="toggleDropdown()" type="button" class="btn px-4" title="Filter">
                <i id="dropdown-icon" class="fa fa-filter"></i>
              </button>
            </form>
            <div class="dropdown-options shadow">
              {{ range $.Site.Data.search_keywords.terms }}
                <div class="text-dark" onclick="searchPredefinedFilter({{ title .name }})">
                  {{ title .name }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}

{{ partial "sub_nav/horizontal_nav.html" (dict "data" .Site.Data "pages" .Site.RegularPages) }}

<script src="/js/guides.js"></script>
<script>
  const guideSearchBarId = 'guide-search-bar';
  hideSearchResults()
  function toggleDropdown() {
    if ($('.dropdown-options').css('display') == 'none') {
      displayDropdown();
    } else {
      hideDropdown();
    }
  }

  function displayDropdown() {
    $('.dropdown-options').css('display', 'flex');
  }

  function hideDropdown() {
    $('.dropdown-options').css('display', 'none');
  }

  function searchPredefinedFilter(keyword) {
    $('#guide-search-bar').val(keyword);
    doSearchGuides(guideSearchBarId);
    toggleDropdown();
  }
  $(window).on("scroll", () => {
    // hideDropdown();
  })
</script>