Explore our <a href="#sitemap-modal" data-toggle="modal" data-target="#sitemap-modal">content relationship diagram</a> and see how everything connects.
<section>
  <div
    class="modal fade"
    id="sitemap-modal"
    tabindex="-1"
    aria-labelledby="sitemap-modal"
    aria-hidden="true"
    style="text-align: left !important;"
  >
    <div
      class="modal-dialog"
      style="width: 100% !important; max-width: 100% !important; margin: 0; top: 0; bottom: 0; left: 0; right: 0; display: flex;"
    >
      <div
        class="modal-content"
      >
        <div
          class="modal-header"
        >
          <h5
            class="modal-title"
          >
            Protocols & Procedures Sitemap
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-5">
          <div class="d-flex justify-content-center">
            <div id="cy" class="border no-transition">
              <div class="m-0 p-0" style="position: absolute; right: 0; z-index: 9999;">
                <button id="zoom-in" type="button" style="margin-right: 5px;" class="btn btn-outline btn-dark rounded-0">
                  <i class="fa fa-search-plus fa-lg" aria-hidden="true"></i>
                </button>
                <button id="zoom-out" type="button" class="btn btn-outline btn-dark rounded-0">
                  <i class="fa fa-search-minus fa-lg" aria-hidden="true"></i>
                </button>
              </div>
              {{ with resources.Get "js/cy.js" | minify }}
                {{ with . | js.Build }}
                    <script type="module" src="{{ .RelPermalink }}"></script>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>