.associated-systems-modal {
  max-width: var(--max-width);
  &-content {
    max-height: 90vh;
    border-radius: 8px;
    @include ipad {
      height: 850px;
    }
    overflow: scroll;   
  }
  &-header {
    position: sticky;
    top: 0;
    z-index: 1055;
    display: flex;
    align-items: center;
    background-color: $nycet-gray-light;
    & button span {
      font-size: 3rem;
      font-weight: normal;
    }
  }
}

.see-more-associated-systems-button {
  padding: 0;
  text-transform: none;
  font-weight: normal;
  font-size: inherit;
  letter-spacing: normal;
  position: relative;
  text-decoration-line: underline;
  text-decoration-thickness: var(--underline-thickness);
  text-underline-offset: var(--underline-offset);
}
.see-more-associated-systems-button:hover {
  text-decoration-line: underline;
}

.see-more-associated-systems-button::after {
  position: absolute;
  content: '￫';
  font-size: 1.4rem;
  line-height: 1;
  top:4px;
  left: 55px;
  transition: left .3s ease 0s;
}

.see-more-associated-systems-button:hover::after {
  left: 120%;
}