.footer {
    box-sizing: border-box;
    margin: 0;
    border-top: 1px solid $nycet-gray;
    position: relative;
    .footer-links {
        background: $light-gray;
        padding-inline: 15px;
    }
    .container {
        max-width: var(--max-width);
    }
    &-site-map {
      h5 {
        font-size: 19.2px;
      }
      a {
        color: black;
      }
      li > a:hover {
        text-decoration: underline;
      }
    }
    &__widget {
        display: flex;
        flex-wrap: wrap;
        // padding: 100px 0;
        > div {
            padding-left: 0;
        }
    }
    &__footer {
        display: flex;
        padding: 50px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        @include desktop {
            text-align: center;
        }
        &_social {
            ul {
                float: right;
                @include desktop {
                    margin: 20px auto 0;
                    float: none;
                }
            }
        }
    }
    &-copyright {
        background-color: #16232b;
        color: $white;
        padding-inline: 15px;
    }
}

.site-map-cats {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.site-links li {
    font-size: .875rem;
    > a {
        color: $body-color;
    }
}

@media (max-width:800px) {
    .footer {
        &__cta {
            .form {
                input {
                width: 100%;
                }
            }
        }
    }
}

@media (max-width:575px) {
    .footer {
        &__cta {
            padding: 40px 40px;
        }
    }
    .site-map-cats {
        flex-direction: column;
    }
}

@keyframes moveLeft {
    0%,
    100% {
        -webkit-transform: translateX(0) rotate(-20deg);
        transform: translateX(0) rotate(-20deg);
    }

    50% {
        -webkit-transform: translateX(15px) rotate(-20deg);
        transform: translateX(15px) rotate(-20deg);
    }
}


// .footer {
//     box-sizing: border-box;
//     margin: 0;
//     background: #f7f7f7;
//     position: relative;
//     color: #979797;
//     font-size: medium;
//     border-top: 1px solid #dfdfdf;
//     height: 12rem;
//     display: flex;
//     align-items: center;
//     &-site-map {
//       h5 {
//         font-size: 19.2px;
//       }
//       a {
//         color: black;
        
//         &:hover {
//             text-decoration: underline;
//           }
//       }
//     }
//     &__widget {
//         display: flex;
//         flex-wrap: wrap;
//         // padding: 100px 0;
//         @include desktop {
//             text-align: center;
//         }
//     }
//     &__footer {
//         display: flex;
//         padding: 50px 0;
//         border-top: 1px solid rgba(255, 255, 255, 0.2);
//         @include desktop {
//             text-align: center;
//         }
//         &_social {
//             ul {
//                 float: right;
//                 @include desktop {
//                     margin: 20px auto 0;
//                     float: none;
//                 }
//             }
//         }
//     }
//     &-copyright {
//         background-color: #16232b;
//         color: $white;
//     }
// }
// .footer-items {
//     display: flex;
//     flex-direction: column;
//     gap: 1rem;
//     justify-content: space-between;
// }
// @media (max-width:800px){
// .footer {
//     &__cta {
//         .form {
//             input {
//             }
//             width: 100%;
//         }
//     }
// }
// @media (max-width:575) {
//     .footer {
//         &__cta {
//             padding: 40px 40px;
//         }
//     }
// }
// }
// @keyframes moveLeft {
//     0%,
//     100% {
//         -webkit-transform: translateX(0) rotate(-20deg);
//         transform: translateX(0) rotate(-20deg);
//     }

//     50% {
//         -webkit-transform: translateX(15px) rotate(-20deg);
//         transform: translateX(15px) rotate(-20deg);
//     }
// }
