.search-header {
  align-items: center;
  max-width: var(--max-width);
  padding-inline: 0;
}

#guide-breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-left: 0;
  margin-bottom: 0;
  font-size: medium;
  li {
    display: inline;
    white-space: nowrap;
    color: $body-color;
    &:not(:first-of-type)::before {
      content: "/";
      padding: .5rem;
      color: $nycet-gray-dark
    }
    a {
      color: $primary;
    }
    a:hover {
      text-decoration: underline;
      color: $nycet-green-dark;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
}

.breadcrumbs .container {
  max-width: var(--max-width);
}

.content a:not(.btn) {
  text-decoration: underline;
  overflow-wrap: break-word;
}

// a:hover:not(.btn),
// a:hover:not(.navbar-brand) {
//   text-decoration: underline;
// }

.header-link {
  opacity: 0;
  color: $primary;
  position: relative;
}

.header-link i {
  font-size: 80%;
}

:is(h1, h2, h3, h4, h5, h6):hover a.header-link {
  opacity: 1;
}

.guide-page-content,
.measurement-page-content,
.calculation-page-content {
  max-width: var(--max-width);
  padding-inline: 0;
  .title {
    text-align: center;
  }
  .content {
    h2:not(:first-of-type) {
      margin-top: 3rem;
    }
  }
}

.chip {
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.12);
  color: $nycet-gray-darker;
  font-size: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 14px;
  text-transform: uppercase;
}

.content-chip {
  background-color: rgba(0, 0, 0, 0.12);
  color: $nycet-gray-darker;
  vertical-align: 2px;
  font-size: 55%;
  margin-left: 0;
}

.content-card-title {
  font-weight: bold;
  line-height: 1.5;
}

.guide-header-wrapper {
  padding-inline: 1rem;
  padding-block: 0;
  margin-top: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 3;
  height: 4rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: white;
  border-bottom: 1px solid $nycet-gray;
}

.guide-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  // max-width: 1280px;
  @include ipad {
  }
  &-title {
    display: flex;
    align-items: center;
  }
  &-tab-items {
    --tab-border: .25rem;
    display: flex;
    gap: 0;
    align-items: center;
    border: 1px solid $nycet-gray;
    border-radius: var(--tab-border);
    background-color:$nycet-gray-light;
    button {
      background-color: transparent;
      border: none;
      border-right: 1px solid $nycet-gray;
      color: black;
      font-size: 14px;
      font-weight: 700;
      padding-block: .75em;
      padding-inline: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;
      align-items: center;
      width: max-content;
      white-space: nowrap;
      .tab-icon {
        aspect-ratio: 1;
      }
      @include ipad {
        // width: 100px;
      }
      // > div {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      // }
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: var(--tab-border);
        border-bottom-left-radius: var(--tab-border);
      }
      &:last-of-type {
        border-right: none;
        border-top-right-radius: var(--tab-border);
        border-bottom-right-radius: var(--tab-border);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:hover,
      &.active {
        background-color: $nycet-green;
        color: white;
        svg {
          fill: white;
        }
      }
    }
  }
}

.guide-header.container {
  max-width: var(--max-width);
}

/*details elements*/
details { 
  margin: 1rem 0 0 0;

  &.details-short summary {
    font-size: 1.2rem;
    font-weight: bold;
    list-style-position: outside;
    margin-left: 1em;
    padding-left: .5em;
  }

  // &.details-short > summary > * {
    
  // }
  
  &.details-short > :not(summary) {
    padding-left: 1.75em;
    margin-top: .25rem;
  }
}

details.guide-header-description {

  > summary {
    display: inline;
  }
  span{
    color: $primary;
    margin-left: .125rem;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: $nycet-green-dark;
    }
    i {
      margin-left: .125rem;
    }
  }
  &[open] {
    span#opener {
      display: none;
    }
  }
}


// .header-tab-item:hover,
// .tabLink:hover {
//   img {
//     filter: none;
//   }
//   background-color: $nycet-gray-darker;
//   color: white;
// }

.guide-wrapper {
  padding-inline: 1rem;
  background-color: white;
  line-height: 1.7;
  min-height: 50vh;
}

.toc-header {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 1rem;
  line-height: 1.5;
}

#guide-mg-side-nav {
  --connection-color: #b4b4b4;
  position: relative;
  margin-top: -3rem;
  border-right: 1px solid #b4b4b445;
  padding-inline: 0;

  .mg-toc {
    position: sticky;
    top: 4em;
    max-height: 100dvh;
    overflow-y: auto;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    scrollbar-width: thin;

    nav#TableOfContents {
      li.active-item {
        font-weight: bold;
        > a,
        > ul > li > a {
          color: black;
        }
      }
      a {
        color: $nycet-gray-darker;
      }
      a:hover {
        text-decoration: underline;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 16px;
        }
        li > ul {
          padding-left: 0.5rem;
          border-left: 1px solid var(--connection-color);
          margin-left: 10px;
          li {
            list-style-type: none;
            padding-left: 10px;
            color: $primary;
            padding-top: .5rem;
            padding-bottom: .5rem;
            position: relative;
          }
          li::before {
            content: "";
            position: absolute;
            height: 12px;
            width: 13px;
            background-color: transparent;
            left: -8px;
            top: 11px;
            border-bottom: 1px solid var(--connection-color);
          }
        }
      }
    }     
  }
  .glossary-toc nav ul {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(5ch, 1fr));
    gap: 1rem;

    li {
      text-align: center;
    }

    li a {
      display: inline-block;
      width: 100%;
    }
  }
  .btt-container {
    margin: 1rem 0 2rem 0;
  }
  .mg-back-to-top {
    position: sticky;
    bottom: 20px;
    display: none;
  }
}

a.btt-btn {
  display: inline-block;
  border: none;
  font-size: 1rem;
  padding: .75rem;
  border: 1px solid $nycet-green;
  border-radius: 6px;
  width: 100%;
  text-align: center;
}

a.btt-btn:hover {
  background-color: $nycet-green;
  color: white;
}

// .associated_systems_see_more_btn {
// }

#guide-page-measurement-guides {
  padding-right: 0;
  padding-left: 0;
}

#guide-mg-content {
  padding-left: 2rem;
  padding-right: 0;
}

.guide-header-title h1 {
  font-size: 1.5rem;
  font-weight: 700;
  max-height: 45px;
  text-overflow: ellipsis;
  text-overflow: ellipsis ellipsis;
  overflow-x: hidden;
  display: block;
  white-space: nowrap;
  max-width: 42ch;
  scrollbar-width: thin;
}

@media (max-width: 575px) {
  #guide-mg {
    
    &-side-nav{
      display: none;
    }

    &-content {
      padding-left: 0;
      width: 100%;
    }
  }
}

.content {
  padding-bottom: 5rem;
}

.content > h2:first-of-type {
  margin-top: 0;
}

[id*="page-related"] > div > h3 {
  margin-top: 0;
}

[id*="guide-header"] {
  margin-block: 0;
  font-size: 1.6rem;
  font-size: 1.7 rem;
}

// #guide-header-plants,
// #guide-header-systems,
// #guide-header-components {
//   margin-top: 0;
// }

//remove when change guide title to h1
.guide-header-title h2 {
  margin-top: 0;
}

.modal-header .close {
  margin: -1rem 0 -1rem auto;
}

.table-wrapper {
  overflow-x:auto;
  margin-bottom: 3rem;
}
// custom table style

table {
  /* Change these properties */
  --border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  border: var(--border);
  margin-bottom: .25rem;
  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  position: relative;
  table-layout: auto;
  line-height: 1.65;
  overflow: hidden;
}

thead {
  // leave out b/c chrome does not suport sticky thead so top moves thead down
  // position: sticky;
  // top: 0;
  background-color: #f7f7f7;
  z-index: 2;

	th {
		background-color: #f7f7f7;
	}

  td {
    vertical-align: bottom;
  }
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 90%;
  color: $body-color;
  font-weight: bold;
  text-align: left;
  caption-side: top;
}

.figure-caption { 
  color: $body-color;
  font-weight: bold;
}

th,
td {
	padding: 14px 20px;

  p:last-child {
    margin-bottom: 0;
  }
}

td {
	color: inherit;
  vertical-align: top;
}

th {
	text-align: left;
}

 /* Apply a border to the right of all but the last column */
//  table th:not(:last-child),
//  table td:not(:last-child) {
//   border-right: var(--border);
//  }
 
 /* Apply a border to the bottom of all but the last row */
 table>thead>tr>th,
 table>thead>tr>td,
 table>tbody>tr:not(:last-child)>th,
 table>tbody>tr:not(:last-child)>td,
 table>tfoot>tr:not(:last-child)>th,
 table>tfoot>tr:not(:last-child)>td,
 table>tr:not(:last-child)>td,
 table>tr:not(:last-child)>th,
 table>thead:not(:last-child),
 table>tbody:not(:last-child),
 table>tfoot:not(:last-child) {
  border-bottom: var(--border);
 }

//  .zoom {
//   box-shadow: 0 0 0 #fff;
//   transition-property: transform, box-shadow;
//   transition-duration: .5s;
//   margin: 0 auto;
// }

// .zoom:hover {
//   transform: scale(1.3);
//   box-shadow: 4.1px 0 18.1px rgba(0,0,0,.28);
// }

#lightbox .img {
  max-width: 80vw !important;
}

figure {
  margin-top: 1rem;
}
figure + p,
a:has(figure) + p  {
  margin-top: 1.2rem;
}

table.equation-table {
  --border:0;
  border:none;

  thead, tbody, th, td, tr {
    border: none;
  }

  thead th {
    background-color: #fff;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }
}
.step-indent {
  margin-left: 2.5em;
}
.equation {
  display: block;
  margin-block: 1.5em;
  margin-left: 5em;
  overflow-x: auto;
}
.equation-center {
  text-align: center;
  margin-left: 2em;
}
.equation-left {
 text-align: left;
}
// .tooltip-pnp {
//   position: relative;
//   display: inline;
//   border-radius: 8px;
//   text-decoration: underline 8px #d9e9da;
//   padding: 6px;
// }
// .tooltip-pnp .tooltiptext {
//   visibility: hidden;
//   opacity: 0;
//   transition: .3s;
//   width: max-content;
//   background-color: #19232a;
//   color: #fff;
//   border-radius: 8px;
//   padding: 1.2em 2em;
//   position: absolute;
//   z-index: 1;
//   max-width: 51ch;
//   box-shadow: 0 5px 1em #0000001f;
//   top: calc(100% + 10px);
//   right: 50%;
//   transform: translateX(50%);
// }
// .tooltiptext::before {
//   content: "";
//   position: absolute;
//   transform: rotate(45deg);
//   background-color: inherit;
//   padding: 5px;
//   z-index: 3;
//   top: -5px;
//   left: 50%;
// }
// .tooltip-pnp:hover {
//   cursor: help;
//   border-radius: 8px;
//   background-color: #d9e9da;
// }
// .tooltip-pnp:hover .tooltiptext {
//   visibility: visible;
//   opacity: 1;
// }
a.footnote-ref {
  margin-inline: .25rem;
}
a.footnote-ref,
a.footnote-backref {
  text-decoration: none;
}
a.footnote-ref::before {
  content: "[";
}
a.footnote-ref::after {
  content: "]";
}
a.footnote-ref:hover,
a.footnote-backref:hover {
  text-decoration: underline;
}
[id^=fn]:target,
[id^=fnref]:target a {
  background-color:#ebf4ec;
  border-radius: 4px;
  transition-duration: 450ms;
  transition-delay: 750ms;
  transition-property: background-color;
}
.footnotes {
  font-size: 90%;
  margin-top: 1rem;
}
table caption p {
  margin-block: 0;
} 
.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-block: 1.5rem;
  border-radius: 6px;
  border: 1px solid #b4b4b4;
}
.references {
  padding-left: 4rem;
  text-indent: -4rem;
}
.glossary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  section {
    overflow: visible;
    h2 {
      margin-block: 1.5rem;
    }
    dl {
      dt {
        scroll-margin-top: 2rem;
        padding-left: 0;
        font-size: 1.2rem;
      }
      dd {
        padding-left: 0;
      }
      dt + dd {
      margin-bottom: 1.8rem;
      }
    }   
  }  
}
a.glossary-link {
  text-decoration: dotted;
  color: inherit;
  text-underline-offset: 3px;
  background-color: #f7f7f7;
  padding: 2px 0;
}