.search-header {
  align-items: center;
}

#guide-breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-left: 0;
  margin-bottom: 0;
  font-size: medium;
  li {
    display: inline;
    white-space: nowrap;
    color:#ffffff82;
    &:not(:first-of-type)::before {
      content: "›";
      padding: 1.5rem;
    }
    a {
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumbs {
  background-color: $primary;
}

.content a {
  text-decoration: underline;
}

// a:hover:not(.btn),
// a:hover:not(.navbar-brand) {
//   text-decoration: underline;
// }

h2, h3, h4 {
  margin-top: 3rem;
}

[class$="page-content"] {
  .title {
    text-align: center;
  }
  .content {
    h2:not(:first-of-type) {
      margin-top: 3rem;
      padding-top: 2rem;
      &:before {
        content: "";
        display: block;
        position: relative;
        width: 80px;
        border: 4px solid #ebf4ec;
        top: -25px;
      }
    }
  }
}

.chip {
  border-radius: 50rem;
  background-color:#36733c;
  font-size: medium;
  vertical-align: middle;
  display: inline-block;
  margin-left: 14px;
}

.guide-header-wrapper {
  position: relative;
}

.guide-header-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #36733c;
  bottom: 0;
}

.guide-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  @include ipad {
  }
  &-title {
    display: flex;
    align-items: center;
  }
  &-tab-items {
    display: flex;
    align-items: end;
    button {
      border: var(--tab-border);
      background-color: transparent;
      color: white;
      width: 160px;
      font-size: 14px;
      font-weight: bold;
      padding-block: 1em;
      border-radius: 5px 5px 0 0;
      height: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      align-items: center;
      @include ipad {
        width: 100px;
      }
      // > div {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      // }
    }
    button.active {
      background-color: white !important;
      color: $dark-bg !important;
      border-top: var(--tab-border-active);
      border-inline: var(--tab-border-active);
      z-index: 2;
      img {
        filter: invert(1);
      }
    }
  }
}

.header-tab-item:hover,
.tabLink:hover {
  background-color: #387e3e;
}

.toc-header {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 8px;
  line-height: 1.5;
}

#guide-mg-side-nav {
  --connection-color: #b4b4b4;
  position: relative;
    .mg-toc {
      position: sticky;
      top: 1rem;
      max-height: calc(100dvh - 280px);
      overflow-y: auto;
      border: 1px solid #b4b4b445;
      padding: 1rem;
      border-radius: 4px;

    nav#TableOfContents {
      li.active-item {
        background-color: #ebf4ec;
        font-weight: bold;
        padding: 1rem;
        border-radius: 10px;
      }
      a {
        color: #6a6a6a;
      }
      a:hover {
        text-decoration: underline;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 16px;
        }
        li > ul {
          padding-left: 0.5rem;
          border-left: 1px solid var(--connection-color);
          margin-left: 10px;
          li {
            list-style-type: none;
            padding-left: 10px;
            color: $primary;
            padding-top: .5rem;
            padding-bottom: .5rem;
            position: relative;
          }
          li::before {
            content: "";
            position: absolute;
            height: 12px;
            width: 13px;
            background-color: transparent;
            left: -8px;
            top: 11px;
            border-bottom: 1px solid var(--connection-color);
          }
        }
      }
    }
  }
  .btt-container {
    margin-top: 1rem;
    display: none;
  }
  .mg-back-to-top {
    position: sticky;
    bottom: 20px;
  }
}

a.btt-btn {
  display: inline-block;
  border: none;
  font-size: 1rem;
  padding: .75rem;
  border: 1px solid #52a85a;
  border-radius: 6px;
  width: 100%;
  text-align: center;
}

a.btt-btn:hover {
  background-color: #52a85a;
  color: white;
}

// .associated_systems_see_more_btn {
// }

.guide-header-title h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

.content > h2:first-of-type {
  margin-top: 0;
}

[id*="page-related"] > div > h3 {
  margin-top: 0;
}

[id*="guide-header"] {
  margin-block: 0;
  font-size: 1.6rem;
  font-size: 1.7 rem;
}

// #guide-header-plants,
// #guide-header-systems,
// #guide-header-components {
//   margin-top: 0;
// }

//remove when change guide title to h1
.guide-header-title h2 {
  margin-top: 0;
}

.modal-header .close {
  margin: -1rem 0 -1rem auto;
}

// custom table style

table {
  /* Change these properties */
  --border: 1px solid #bdbdbd;
  border-radius: 5px;
  border: var(--border);
  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  min-width: 825px;
  margin-bottom: 4rem;
  position: relative;
  table-layout: auto;
  line-height: 1.65;
  overflow: hidden;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  z-index: 2;

	th {
		background-color: #f7f7f7;
	}

  td {
    vertical-align: bottom;
  }
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 90%;
  color: $body-color;
  font-weight: bold;
  text-align: left;
  caption-side: top;
}

.figure-caption { 
  color: $body-color;
  font-weight: bold;
}

th,
td {
	padding: 14px 20px;

  p:last-child {
    margin-bottom: 0;
  }
}

td {
	color: inherit;
  vertical-align: top;
}

th {
	text-align: left;
}

 /* Apply a border to the right of all but the last column */
//  table th:not(:last-child),
//  table td:not(:last-child) {
//   border-right: var(--border);
//  }
 
 /* Apply a border to the bottom of all but the last row */
 table>thead>tr>th,
 table>thead>tr>td,
 table>tbody>tr:not(:last-child)>th,
 table>tbody>tr:not(:last-child)>td,
 table>tfoot>tr:not(:last-child)>th,
 table>tfoot>tr:not(:last-child)>td,
 table>tr:not(:last-child)>td,
 table>tr:not(:last-child)>th,
 table>thead:not(:last-child),
 table>tbody:not(:last-child),
 table>tfoot:not(:last-child) {
  border-bottom: var(--border);
 }

//  .zoom {
//   box-shadow: 0 0 0 #fff;
//   transition-property: transform, box-shadow;
//   transition-duration: .5s;
//   margin: 0 auto;
// }

// .zoom:hover {
//   transform: scale(1.3);
//   box-shadow: 4.1px 0 18.1px rgba(0,0,0,.28);
// }

#lightbox .img {
  max-width: 80vw !important;
}

figure {
  margin-top: 1rem;
}
figure + p,
a:has(figure) + p  {
  margin-top: 1.2rem;
}

table.equation-table {
  --border:0;
  border:none;

  thead, tbody, th, td, tr {
    border: none;
  }

  thead th {
    background-color: #fff;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }
}
.step-indent {
  margin-left: 2.5em;
}
.equation {
  display: block;
  margin-block: 1.5em;
  margin-left: 5em;
}
.equation-center {
  text-align: center;
  margin-left: 2em;
}
.equation-left {
 text-align: left;
}
.tooltip-pnp {
  position: relative;
  display: inline;
  border-radius: 8px;
  text-decoration: underline 8px #d9e9da;
  padding: 6px;
}
.tooltip-pnp .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  width: max-content;
  background-color: #19232a;
  color: #fff;
  border-radius: 8px;
  padding: 1.2em 2em;
  position: absolute;
  z-index: 1;
  max-width: 51ch;
  box-shadow: 0 5px 1em #0000001f;
  top: calc(100% + 10px);
  right: 50%;
  transform: translateX(50%);
}
.tooltiptext::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: inherit;
  padding: 5px;
  z-index: 3;
  top: -5px;
  left: 50%;
}
.tooltip-pnp:hover {
  cursor: help;
  border-radius: 8px;
  background-color: #d9e9da;
}
.tooltip-pnp:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-block: 1.5rem;
  border-radius: 6px;
  border: 1px solid #b4b4b4;
}

.references {
  padding-left: 4rem;
  text-indent: -4rem;
}