.card-block {
  background-color: rgba(66, 144, 73, .10);
  border: 1px solid #cedbd0;
  p {
    @include ipad {
      font-size: 15px;
    }
  }
}

.measurement-technique-logo-wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  width: 69px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid #cedbd0;
  > img {
    min-width: 20px;
  }
}

.fa.fa-arrow-right:hover {
  transform: translateX(8px);
}