.card-block {
  --card-background-color: hsla(125, 37%, 41%, 0.1); 
  background-color: var(--card-background-color);
  border: 1px solid $nycet-gray;
  p {
    @include ipad {
      font-size: 15px;
    }
  }
}

.short-card {
   
  &-content {
    display: flex;
    padding: 2em;
    gap: 2em;
    max-width: 72ch;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &-text {
    max-width: 65ch;
  }

  &-header {
    margin-right: 4px;
  }

  &-link {
    padding: 2rem;
    font-size: 3em;
    text-decoration: none !important;
    flex-grow: 1;
    position: relative;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color:hsla(125, 37%, 41%, 0.2);
    }
  }
}

.measurement-technique-logo-wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  width: 69px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid #cedbd0;
  > img {
    min-width: 20px;
  }
}