/* Style the tab */
.tab {
  position: relative;
  display: flex;
  background-color: $primary;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  display: flex;
  background-color: $primary;
  width: 100%;
  height: 100%;
  border-top: var(--tab-border);
  border-inline: var(--tab-border);
  border-bottom: var(--tab-border);
  outline: none;
  padding: 16px;
  transition: 0.3s;
  font-size: 17px;
  text-align: left;
  border-radius: 8px 8px 0 0;
}

.tab::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #36733c;
  bottom: 0;
}

/* Create an active/current tablink class */
.tab button.active {
  position: relative;
  background-color: white;
  color: $dark-bg;
  border-top: var(--tab-border-active);
  border-inline: var(--tab-border-active);
  z-index: 2;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px 12px 4em 12px;
  border-top: none;
}

.normal-nav-item {
  width: 22rem;
  min-width: 8rem;
  max-width: 20%;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
.middle-nav-item {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

.first-nav-item {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.last-nav-item {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tabLink.active img {
  filter: invert(1);
}

.tabLink {
  border-radius: 6px 6px 0 0;
}

.tabLink span {
  font-weight: bold;
}

.filter-guides-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1rem;
  padding-right: 0;
  label {
    padding-top: 5px;
    color: rgb(71, 71, 71);
    margin-bottom: 0;
    font-size: small;
  }
  select {
    padding: 0 1rem 0 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #dfdfdf;
  }
}

.guide-icon {
  display: block;
  width: 25px;
}

.search-result-label {
  background-color: #f7f7f7;
  color: black !important;
  width: 31px;
  height: 31px;
  line-height: 31px;
  border-radius: 50%;
  text-align: center;
}