.card{
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.guide-thumbnail {
  height: 476px;
  display: flex;
  flex-wrap: wrap;

  &-image {
    width: 45%;
    background-color: rgba(25, 35, 42, 0.22);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
  }

  &-content {
    background-color: $nycet-gray-light;
    height: 100%;
    width: 55%;
    padding: 1.5rem 0;

    p {
      color: black;
      font-size: inherit;
    }

    ul {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }

    li {
      overflow: hidden;
      text-overflow: ellipsis;
      color: $primary;

      a {
        text-decoration: underline;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 485px) {
  .guide-thumbnail {
    height: auto;
  
    &-image {
    width: 100%;
    }

    &-content {
    width: 100%;
    
    .btn:not(.btn-link) {
      width: 100%;
    }
    }
  }
}

.guide-card {
  display: none !important;
}

h5.card-title {
  font-size: 1.25rem;
}

h6.related-title {
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.show-html-element {
  display: block !important;
}

.no-thumb {
  background-color: #e8e8e8;
  background-image: url(/images/hero/guide-thumb-placeholder.jpg);
}

// .card-related-list li {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   color: $primary;
//   margin-bottom: .125rem;
// }