{{ partial "calculation_methodology/breadcrumb.html" . }}
{{ partial "guides/header.html" . }}
<section id="{{ .Params.type }}-page-content" class="container {{ .Params.type }}-page-content"
  style="color: black;"
>
  <div class="row" style="padding-top: 3rem; padding-bottom: 5rem;">
    <div id="guide-mg-side-nav" class="col-3 pl-0 pr-3">
      <div class="mg-toc">
        <span class="text-muted font-weight-bold toc-header">{{ .Title }}</span>
        {{ .TableOfContents }}
        <div class="pl-3 pt-5">
          <a id="back-to-top" href="#" class="" role="button">
            <span class="mr-2">Back to top</span><i class="fa fa-arrow-up"></i>
          </a>
        </div>
      </div>
      
    </div>
    <div class="col-9">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- Related Calculation Methodologies -->
<section id="{{ .Params.type }}-page-related-cm" class="container {{ .Params.type }}-page-content px-0">
  {{ $total_related_cm := 0 }}
  {{ $cm := "" }}
  {{ if isset .Params "related_calculation_methodologies" }}
    {{ $total_related_cm = .Params.related_calculation_methodologies | len }}
    {{ $cm = .Params.related_calculation_methodologies }}
  {{ end }}
  <div class="d-flex align-items-center mb-1" style="padding-top: 4rem;">
    <h3 class="mb-0">
      {{ $total_related_cm }} Related Calculation Methodologies
    </h3>
    <a class="ml-4" href="{{ .Site.BaseURL }}">Browse All Calculation Methodologies</a>
  </div>
  <div class="d-flex flex-wrap justify-content-between py-4">
  {{ range .Site.RegularPages }}
    {{ if in $cm .Title }}
      {{ partial "calculation_methodology/related.html" . }}
    {{ end }}
  {{ end }}
  </div>
</section>
<!-- Related Measurement Techniques -->
<section id="{{ .Params.type }}-page-related-mt" class="container {{ .Params.type }}-page-content px-0">
  {{ $total_related_mt := 0 }}
  {{ $mt := "" }}
  {{ if isset .Params "related_measurement_techniques" }}
    {{ $total_related_mt = .Params.related_measurement_techniques | len }}
    {{ $mt = .Params.related_measurement_techniques }}
  {{ end }}
  <div class="d-flex align-items-center mb-1" style="padding-top: 4rem;">
    <h3 class="mb-0">
      {{ $total_related_mt }} Related Measurement Techniques
    </h3>
    <a class="ml-4" href="{{ .Site.BaseURL }}">Browse All Measurement Techniques</a>
  </div>
  <div class="d-flex flex-wrap justify-content-between py-4">
  {{ range .Site.RegularPages }}
    {{ if in $mt .Title }}
      {{ partial "guides/related.html" . }}
    {{ end }}
  {{ end }}
  </div>
</section>

<script>
  function hideRelatedSystems() {
    $('#{{ .Params.type }}-page-related-systems').hide();
  }
  function hideRelatedComponents() {
    $('#{{ .Params.type }}-page-related-components').hide();
  }
  $('#TableOfContents > ul > li').on('click', (event) => {
    $('#TableOfContents > ul > li').removeClass('active-item');
    $(event.currentTarget).addClass('active-item');
  })

  $(document).ready(() => {
    $(window).scroll(() => {
      if ($(this).scrollTop() > 500) {
        $('#back-to-top').fadeIn();
      } else {
        $('#back-to-top').fadeOut();
      }
    });
    $('#back-to-top').click(() => {
      $('body,html').animate({
        scrollTop: 0
      }, 400);
      return false;
    });
  });

  hideRelatedSystems()
  hideRelatedComponents()
</script>
