{{ partial "calculation_methodology/breadcrumb.html" . }}
{{ partial "guides/header.html" . }}
<section id="{{ .Params.type }}-page-content" class="container {{ .Params.type }}-page-content"
>
  <div class="row" style="padding-top: 3rem; margin-left: 0; margin-right: 0;">
    <div id="guide-mg-side-nav" class="col-3">
      <div class="mg-toc">
        <span class="text-muted font-weight-bold toc-header">{{ .Title }}</span>
        {{ .TableOfContents }}
        <div class="btt-container">
          <a id="back-to-top" href="#" class="btt-btn" role="button">
            <span class="mr-2">Back to top</span><i class="fa fa-arrow-up"></i>
          </a>
        </div>
      </div>      
    </div>
    <!-- GUIDE CONTENT -->
    <div id="guide-mg-content" class="col-9">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- Related Calculation Methodologies -->
<section id="{{ .Params.type }}-page-related-cm" class="container {{ .Params.type }}-page-content px-0">
  {{ $total_related_cm := 0 }}
  {{ $cm := "" }}
  {{ if isset .Params "related_calculations" }}
    {{ $total_related_cm = .Params.related_calculations | len }}
    {{ $cm = .Params.related_calculations }}
  {{ end }}
  <div class="d-flex align-items-center mb-1 pl-3" style="padding-top: 4rem;">
    <h3 class="mb-0">
      {{ $total_related_cm }} Related Calculations
    </h3>
    <a class="ml-4" href="{{ .Site.BaseURL }}">Browse All Calculations</a>
  </div>
  <div class="d-flex flex-wrap justify-content-between pt-4 pb-5">
  {{ range .Site.RegularPages }}
    {{ if in $cm .Title }}
      {{ partial "calculation_methodology/related.html" . }}
    {{ end }}
  {{ end }}
  </div>
</section>
<!-- Related Measurement Techniques -->
<section id="{{ .Params.type }}-page-related-mt" class="container {{ .Params.type }}-page-content px-0">
  {{ $total_related_mt := 0 }}
  {{ $mt := "" }}
  {{ if isset .Params "related_measurements" }}
    {{ $total_related_mt = .Params.related_measurements | len }}
    {{ $mt = .Params.related_measurements }}
  {{ end }}
  <div class="d-flex align-items-center mb-1 pl-3" style="padding-top: 4rem;">
    <h3 class="mb-0">
      {{ $total_related_mt }} Related Measurements
    </h3>
    <a class="ml-4" href="{{ .Site.BaseURL }}">Browse All Measurements</a>
  </div>
  <div class="d-flex flex-wrap justify-content-between pt-4 pb-5">
  {{ range .Site.RegularPages }}
    {{ if in $mt .Title }}
      {{ partial "calculation_methodology/related.html" . }}
    {{ end }}
  {{ end }}
  </div>
</section>

<script>
  function hideRelatedSystems() {
    $('#{{ .Params.type }}-page-related-systems').hide();
  }
  function hideRelatedComponents() {
    $('#{{ .Params.type }}-page-related-components').hide();
  }
  $('#TableOfContents > ul > li').on('click', (event) => {
    $('#TableOfContents > ul > li').removeClass('active-item');
    $(event.currentTarget).addClass('active-item');
  })

  $(document).ready(() => {
    $(window).scroll(() => {
      if ($(this).scrollTop() > 500) {
        $('#back-to-top').fadeIn();
      } else {
        $('#back-to-top').fadeOut();
      }
    });
    $('#back-to-top').click(() => {
      $('body,html').animate({
        scrollTop: 0
      }, 400);
      return false;
    });
  });

  hideRelatedSystems()
  hideRelatedComponents()
</script>
