<section class="bg-primary text-light">
  <div class="guide-header container-lg px-lg-0 px-sm-5">
    <div class="guide-header-title w-100">
      <div class="px-0 mr-2" style="max-width: 80%;">
        <h2 class="mb-0">{{ .Title }}</h2>
      </div>
      <div 
        class="
          d-flex 
          justify-content-center 
          align-items-center 
          px-2 
          py-1 
          text-center
        " 
        style="
          border-radius: 10px; 
          background-color: #429049; 
          min-height: 3rem;
        "
      >
        {{ if eq .Params.type "calculation" }} Calculation Methodology {{ else }} Measurement Technique {{ end }}
      </div>
      <div class="guide-header-tab-items ml-auto">
        <button 
          id="tab-item-{{ .Params.type }}" 
          class="header-tab-item py-4"
          onclick="displayGuideContent(event)"
        >
          <div>
            <img src="{{ "images/hero/electric-plant-icon-white.png" | absURL }}" class="img-fluid">
          </div>
          {{ if eq .Params.type "calculation" }} Methodology {{ else }} Technique {{ end }}
        </button>
        {{ if isset .Params "related_systems" }}
        <button 
          id="tab-item-{{ .Params.type }}-related-systems" 
          class="header-tab-item py-4"
          onclick="displayGuideContent(event)"
        >
          <div>
            <img src="{{ "images/hero/electric-plant-icon-white.png" | absURL }}" class="img-fluid">
          </div>
          Related Systems
        </button>
        {{ end }}
        {{ if isset .Params "related_components" }}
        <button 
          id="tab-item-{{ .Params.type }}-related-components" 
          class="header-tab-item py-4"
          onclick="displayGuideContent(event)"
        >
          <div>
            <img src="{{ "images/hero/electric-plant-icon-white.png" | absURL }}" class="img-fluid">
          </div>
          Related Components
        </button>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<script>
  const contentTabItemID = 'tab-item-{{ .Params.type }}';
  const relatedSystemTabItemID = 'tab-item-{{ .Params.type }}-related-systems';
  const relatedComponentTabItemID = 'tab-item-{{ .Params.type }}-related-components';

  function displayGuideContent(evt) {
    var activeTabItemID = evt.currentTarget.id;
    const expectedTabItemIDs = [
      contentTabItemID, 
      relatedSystemTabItemID, 
      relatedComponentTabItemID
    ]
    if (!expectedTabItemIDs.includes(activeTabItemID)) return;

    hidePageContents()
    removeTabItemActiveClass()
    addTabItemActiveClass(activeTabItemID)
    if (activeTabItemID == contentTabItemID) {
      $('#{{ .Params.type }}-page-{{ .Params.type }}').show()
    }
    if (activeTabItemID == relatedSystemTabItemID) {
      $('#{{ .Params.type }}-page-related-systems').show()
    }
    if (activeTabItemID == relatedComponentTabItemID) {
      $('#{{ .Params.type }}-page-related-components').show()
    }
  }

  function hidePageContents() {
    $('.{{ .Params.type }}-page-content').hide()
  }

  function removeTabItemActiveClass() {
    $('.header-tab-item').removeClass('active')
  }

  function addTabItemActiveClass(id) {
    $(`#${id}`).addClass('active')
  }

  function initializeGuidePage() {
    document.getElementById(contentTabItemID).click()
  }
  initializeGuidePage()
</script>