Explore our <a href="#sitemap-modal" data-toggle="modal" data-target="#sitemap-modal">content sitemap</a> and see how everything connects.
<section>
  <div
    class="modal fade"
    id="sitemap-modal"
    tabindex="-1"
    aria-labelledby="sitemap-modal"
    aria-hidden="true"
    style="text-align: left !important;"
  >
    <div
      class="modal-dialog"
      style="width: 95% !important; height: 95%; max-width: 100% !important; margin: auto; display: flex; overflow: hidden;"
    >
      <div
        class="modal-content"
      >
        <div
          class="modal-header"
        >
          <h5
            class="modal-title"
          >
            Protocols & Procedures Sitemap
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="d-flex justify-content-start flex-column h-100">
            <p class="sitemap-desc">
              Click and drag the space between <span class="sitemap-desc-node">nodes</span> to move around the sitemap. Select a <span class="sitemap-desc-node">node</span> to highlight it's related <span class="sitemap-desc-node selected">nodes</span>. Click and drag a <span class="sitemap-desc-node selected">node</span> to move it around and click it's arrow <i class="fa fa-arrow-right"></i> to learn more. 
            </p>
            <div id="cy" style="height: 95%;" class="border">
              <div class="m-0 p-0" style="position: absolute; right: .5rem; top: .5rem; z-index: 9999; font-size: 1rem;">
                <button id="zoom-in" type="button" style="margin-right: .5rem; font-size: 1rem; padding: 1rem 1.7rem;" class="btn btn-outline btn-dark rounded-1">
                  <i class="fa fa-search-plus fa-lg fs-1" aria-hidden="true"></i>
                </button>
                <button id="zoom-out" type="button" style="font-size: 1rem; padding: 1rem 1.7rem;" class="btn btn-outline btn-dark rounded-1">
                  <i class="fa fa-search-minus fa-lg" aria-hidden="true"></i>
                </button>
              </div>
              {{ with resources.Get "js/cy.js" | minify }}
                {{ with . | js.Build }}
                    <script type="module" src="{{ .RelPermalink }}"></script>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>