{{ $type := .Get "type" }}
<section class="admonition" 
  {{ if eq $type "note" }}
  style="background-color: var(--note-background);
        border-color: var(--note-border);
        color: var(--note-fg);"
  {{ else if eq $type "tip" }}
  style="background-color: var(--tip-background);
        border-color: var(--tip-border);
        color: var(--tip-fg);"
  {{ else if eq $type "warning" }}
  style="background-color: var(--warning-background);
        border-color: var(--warning-border);
        color: var(--warning-fg);"
  {{ end }}
  >
  <div class="admonition-heading">
    <span class="admonition-icon">
    {{ if eq $type "note"}}
      <i class="fa fa-circle-info"></i>
    </span>
    note
    {{ else if eq $type "warning" }}
    <i class="fa-solid fa-triangle-exclamation"></i>
  </span>
    warning
    {{ else if eq $type "tip" }}
    <i class="fa fa-lightbulb"></i>
  </span>
    tip
    {{ end }}
  </div>
  <div class="admonition-content">
    {{ .Inner | .Page.RenderString }}
  </div>
</section>