<section class="card card-block my-4">
  {{ $url := .Get "url" }}
  {{ $title := .Get "title" }}
  {{ $excerpt := .Get "excerpt" }}
      <div class="short-card-wrapper d-flex">
        <div class="short-card-content">
          <div class="short-card-text">
            <h5 class="mb-2 content-card-title">
              {{ $title }}<span class="chip content-chip px-3 py-2">Calculator</span>
            </h5>
            <p class="mb-0 content-card-excerpt">
              {{ $excerpt | truncate 250 }}
            </p>
          </div>
        </div>
        <a class="short-card-link d-flex" href="{{ $url }}" download="{{ $url }}" target="_blank">
          <i class="fa fa-file-arrow-down"></i>
        </a>
      </div>
</section>