{{ $calc_name := .Get "title" }}
<section class="card card-block my-4">
  {{ range where site.Data.downloadable_files.files "name" $calc_name}}
      <div class="short-card-wrapper d-flex">
        <div class="short-card-content">
          <div class="short-card-text">
            <h5 class="mb-2 content-card-title">
              <span class="short-card-header">{{ .name }}</span>
              <span class="chip content-chip px-3 py-2">Calculator</span>
            </h5>
            <p class="mb-0 content-card-excerpt">
              {{ .description | truncate 250 }}
            </p>
            {{ if .more_description }}
            <details>
              <summary style="display: block; font-weight: bold;"><span style="margin-right: .5rem;">+</span><u>More Info</u></summary>
              <p class="mt-1 mb-0 content-card-excerpt">
                {{ .more_description | truncate 250 }}
              </p>
            </details>
            {{ end }}
          </div>
        </div>
        <a class="short-card-link d-flex" href="{{ .url }}" download="{{ .url }}" title="{{ .filename }}" target="_blank">
          <i class="fa fa-file-arrow-down"></i>
          <span class="short-card-link-meta">{{ .filesize }}</span>
        </a>
      </div>
  {{ end }}
</section>