{{ $img_url := .Params.img_url }}
<section>
  <div class="imageMap__container">
    <img src="{{ $img_url }}" alt="work by sweetie on dribbble">
    {{ $test := split .Params.markers ";" }}
    {{ range $test }}
      {{ $x := split . "|" }}
      <!-- grid cols -->
      {{ $grid_columns := index $x 0 }}
      {{ $grid_columns = split $grid_columns "/"}}

      <!-- grid rows -->
      {{ $grid_rows := index $x 1 }}
      {{ $grid_rows = split $grid_rows "/"}}
      <div 
        class="markers" 
        style="
          grid-column: {{ index $grid_columns 0 }}/{{ index $grid_columns 1 }}; 
          grid-row: {{ index $grid_rows 0 }}/{{ index $grid_rows 1 }};
        " 
        tabindex="0"
      >
        <div class="marker__card">
            <p class="marker__card__title">
              {{ index $x 2 }}
            </p>
            <p>{{ index $x 3 }}</p>
          </div>
      </div>
    {{ end }}
  </div>
  
  
</section>

<style>
.imageMap__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
  position: relative;
  margin-top: 5rem;
}
.imageMap__container img {
  width: 100%;
  height: auto;
  grid-column: 1/-1;
  grid-row: 1/-1;
  pointer-events: none;
  overflow: hidden;
}

.markers {
    background: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    animation: ownpulse 3s cubic-bezier(.19,1,.22,1) infinite both;
  position: relative;
}
.markers:focus-within .marker__card, .markers:focus .marker__card {
	display: block;
}

.marker__card {
	background-color: #fefefe;
	padding: 1.5rem;
	display: none;
	margin-top: -5%;
	min-height: 100px;
	position: absolute;
  bottom: 32px;
  left: 30px;
	width: 30%;
	z-index: 100;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	min-width: 220px;
	max-width: 300px;
	animation: fadeInUp;
	animation-duration: .5s;
	animation-fill-mode: both;
}

.marker__card__title {
  font: 31px/1.2 'Georgia', serif;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* animations */
@keyframes ownpulse {
	0% {
	    -webkit-box-shadow: 0 0 0 0 #fff;
	    box-shadow: 0 0 0 0 #fff;
	}
	50% {
	    -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
	    box-shadow: 0 0 0 40px rgba(92,112,214,0);
	}
	0% {
	    -webkit-box-shadow: 0 0 0 0 #fff;
	    box-shadow: 0 0 0 0 #fff;
	}
	50% {
	    -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
	    box-shadow: 0 0 0 40px rgba(92,112,214,0);
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(.3,.3,.3);
		-webkit-transform: scale3d(.3,.3,.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes fadeInUp {
	0% {
    opacity: 0;
	transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
	-webkit-transform: scale3d(.3,.3,.3);
    -webkit-transform: translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}
</style>