{{ $page_title := .Get "page_title" }}
{{ $img := .Get "img" }}
{{ $icon := .Get "icon" }}
<section class="card card-block my-4">
  {{ range where .Site.RegularPages "Params.title" $page_title  }}
      <div class="short-card-wrapper d-flex">
        <div class="short-card-content">
          <div class="short-card-text">
            <h5 class="mb-2 content-card-title">
              {{ .Title }}<span class="chip content-chip px-3 py-2">{{ .Params.type | title }}</span>
            </h5>
            <p class="mb-0 content-card-excerpt">
              {{ .Params.excerpt | truncate 250 }}
            </p>
          </div>
        </div>
        <a class="short-card-link d-flex" href="{{ .Params.url | relURL }}">
            <i class="fa fa-arrow-right"></i>
        </a>
      </div>
  {{ end }}
</section>