{{ $label := "" }}
{{ if eq .params.type "system" }}
  {{ $label = "components" }}
{{ else }}
  {{ $label = "systems" }}
{{ end }}
<section class="card mb-4">
  <div class="guide-thumbnail">
    {{ if isset .params  "thumbnail_image" }}
    <div class="guide-thumbnail-image d-flex justify-content-center align-items-center" style="background-image: url({{ .params.thumbnail_image | absURL }});">
    {{ else }}
      <!-- If guide doesn't have featured image -->
    <div class="guide-thumbnail-image d-flex justify-content-center align-items-center" style="background-image: url(/images/hero/electric-plant-icon-logo-gray.png);">
    {{ end }}
    </div>
    <div class="guide-thumbnail-content">
      <div class="px-4 d-flex flex-column justify-content-between" style="height: 62%;">
        <div>
          <h5 class="card-title">{{ .page_title }}</h5>
          <div style="display: none;">
            {{ .page_content | plainify }}
          </div>
          {{ partial "thumbnail/excerpt.html" .params.excerpt }}
        </div>  
        <div>
          <a class="btn btn-primary" href="{{ .page_url | relURL }}">View {{ .params.type | safeHTML | title }}</a>
        </div>
      </div>
      {{ if isset .params "associated_systems" }}
      <hr class="mt-4 mb-3">
      <div class="px-4">
        <p class="">Associated {{ $label }}</p>
        <ul id="list-{{ .guide_id }}" class="mt-n3 mb-0">
          {{ $counter := 0 }}
          {{ range where .pages "Title" "in" .params.associated_systems }}
          <!-- This loop is for counter -->
            {{ $counter = add $counter 1 }}
          {{ end }}
          {{ range first 3 (where .pages "Title" "in" .params.associated_systems) }}
          <!-- This loop is for the actual data -->
            {{ partial "thumbnail/associated_systems.html" . }}
          {{ end }}
          {{ if gt $counter 3 }}
            {{ partial "thumbnail/see_more_associated_systems.html" (dict "id" .guide_id "type" .guide_type "content" .params.associated_systems "all_pages" .pages "guide_title" .page_title) }}
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>