<li>
  <button 
    type="button" 
    class="btn btn-link see-more-associated-systems-button" 
    data-toggle="modal" 
    data-target="#associated-systems-modal-{{ .type }}-{{ .id }}"
    style="
      text-transform: none;
      font-weight: normal;
      font-size: 14px;
    "  
  >
    See All
  </button>
</li>
<section>
  <div 
    class="modal fade" 
    id="associated-systems-modal-{{ .type }}-{{ .id }}" 
    tabindex="-1" 
    aria-labelledby="associated-systems-modal-label-{{ .type }}-{{ .id }}" 
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl associated-systems-modal">
      <div class="modal-content associated-systems-modal-content">
        <div class="modal-header bg-primary text-light associated-systems-modal-header">
          <h5 class="modal-title" id="associated-systems-modal-label-{{ .type }}-{{ .id }}">
            Associated systems of {{ .guide_title }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body py-5">
          <div class="d-flex flex-wrap">
            {{ range where .all_pages "Title" "in" .content }}
            <div class="col-lg-6">
              <div class="card mb-5">
                <div class="guide-thumbnail" style="height: 300px !important;">
                  {{ if isset .Params  "thumbnail_image" }}
                  <div class="guide-thumbnail-image d-flex justify-content-center align-items-center" style="background-image: url({{ .Params.thumbnail_image | absURL }});">
                  {{ else }}
                    <!-- If guide doesn't have featured image -->
                  <div class="guide-thumbnail-image d-flex justify-content-center align-items-center no-thumb">
                  {{ end }}
                  </div>
                  <div class="guide-thumbnail-content">
                    <div class="px-4 d-flex flex-column justify-content-between" style="height: 65%;">
                      <div>
                        <h5>{{ .Title }}</h5>
                        <p>{{ .Params.excerpt | safeHTML | truncate 100 }}</p>
                      </div>  
                      <div>
                        <a class="btn btn-primary" href="{{ .RelPermalink | relURL }}">View {{ .Params.type | safeHTML | title }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
</script>