{{ $pages := .pages }}
<!-- PLANT GUIDES -->
<section id="textPlants" class="tabcontent">
  <div class="container px-0 d-flex justify-content-between" style="margin-top: 3rem;">
    <div>
      <h2 id="guide-header-plants">
        All Plants
      </h2>
    </div>
    <div class="filter-guides-container">
      <label for="measurement-type-plants">Filter by</label>
      <select class="" name="measurement-type-plants" id="plants-filter">
        {{ range .filters }}
          <option value="{{ .value }}">{{ .label }}</option>
        {{ end }}
      </select>
    </div>
  </div>
  <div class="container px-0 mt-5 d-flex flex-wrap justify-content-between">
    {{ range .guides.plants.documents }}
      {{ $guideTitle := .title }}
      {{ $guideId := replace (urlize .title | lower) " " "-" }}
      {{ $guideType := .type }}
      <div 
        id="{{ $guideType }}-{{ $guideId }}" 
        class="
          col-md-12
          col-lg-6 
          guide-card 
          {{ .measurement_type }}
        "
      >
      {{ range $pages }}
        {{ if eq .Title $guideTitle }}
        {{ partial "thumbnail/guide.html" (dict "params" .Params "page_title" .Title "page_content" .Content "page_url" .RelPermalink "pages" $pages "guide_id" $guideId "guide_type" $guideType) }}
        {{ end }}
      {{ end }}
      </div>
    {{ end }}
  </div>
  <div class="my-4 text-center">
    <a id="load-more-plants" class="btn btn-dark" onclick="loadMoreGuides(PLANTS)">Load More Plants</a>
  </div>
</section>
<!-- SYSTEM GUIDES -->
<section id="textSystems" class="tabcontent">
  <div class="container px-0 d-flex justify-content-between" style="margin-top: 3rem;">
    <div>
      <h2 id="guide-header-systems">
        All Systems
      </h2>
    </div>
    <div class="filter-guides-container">
      <label for="measurement-type-systems">Filter by</label>
      <select class="filter-guides-container-select-input" name="measurement-type-systems" id="systems-filter">
        {{ range .filters }}
          <option value="{{ .value }}">{{ .label }}</option>
        {{ end }}
      </select>
    </div>
  </div>
  <div class="container px-0 mt-5 d-flex flex-wrap justify-content-between">
    {{ range .guides.systems.documents }}
    {{ $guideTitle := .title }}
    {{ $guideId := replace (urlize .title | lower) " " "-" }}
    {{ $guideType := .type }}
    <div 
      id="{{ .type }}-{{ .id }}" 
      class="
          col-md-12
          col-lg-6 
          guide-card 
          {{ .measurement_type }}
        "
    >
    {{ range $pages }}
    {{ if eq .Title $guideTitle }}
    {{ partial "thumbnail/guide.html" (dict "params" .Params "page_title" .Title "page_content" .Content "page_url" .RelPermalink "pages" $pages "guide_id" $guideId "guide_type" $guideType  ) }}
    {{ end }}
  {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="my-4 text-center">
    <a id="load-more-systems" class="btn btn-dark" onclick="loadMoreGuides(SYSTEMS)">Load More Systems</a>
  </div>
</section>
<!-- COMPONENT GUIDES -->
<section id="textComponents" class="tabcontent">
  <div class="container px-0 d-flex justify-content-between" style="margin-top: 3rem;">
    <div>
      <h2 id="guide-header-components">
        All Components
      </h2>
    </div>
    <div class="filter-guides-container">
      <label for="measurement-type-components">Filter by</label>
      <select class="filter-guides-container-select-input" name="measurement-type-components" id="components-filter">
        {{ range .filters }}
          <option value="{{ .value }}">{{ .label }}</option>
        {{ end }}
      </select>
    </div>
  </div>
  <div class="container px-0 mt-5 d-flex flex-wrap justify-content-between">
    {{ range .guides.components.documents }}
    {{ $guideTitle := .title }}
    {{ $guideId := replace (urlize .title | lower) " " "-" }}
    {{ $guideType := .type }}
    <div 
      id="{{ .type }}-{{ .id }}" 
      class="
          col-md-12
          col-lg-6 
          guide-card 
          {{ .measurement_type }}
        "
    >
    {{ range $pages }}
    {{ if eq .Title $guideTitle }}
    {{ partial "thumbnail/guide.html" (dict "params" .Params "page_title" .Title "page_content" .Content "page_url" .RelPermalink "pages" $pages "guide_id" $guideId "guide_type" $guideType  ) }}
    {{ end }}
  {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="my-4 text-center">
    <a id="load-more-components" class="btn btn-dark" onclick="loadMoreGuides(COMPONENTS)">Load More Components</a>
  </div>
</section>
<script src="/js/guides.js"></script>
<script>
  resetFilterValues();
  filterPlantGuides(initialFilter);
  filterSystemGuides(initialFilter);
  filterComponentGuides(initialFilter);
</script>