{{ partial "guides/breadcrumb.html" . }}
{{ partial "guides/header.html" . }}
<section>
  <!-- MEASUREMENT GUIDES SECTION -->
  <section id="guide-page-measurement-guides" class="container guide-page-content"
  style="color: black;"
  >
  <div class="row" style="padding-top: 5rem; padding-bottom: 5rem;">
    <!-- TABLE OF CONTENTS -->
    <div id="guide-mg-side-nav" class="col-3 px-0">
      <div class="mg-toc">
        {{ .TableOfContents }}
        <div class="pl-3 pt-5">
          <a id="back-to-top" href="#" class="" role="button">
            <span class="mr-2">Back to top</span><i class="fa fa-arrow-up"></i>
          </a>
        </div>
      </div>
      
    </div>
    <!-- GUIDE CONTENT -->
    <div id="guide-mg-content" class="col-9">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </div>
  </section>
  <!-- RELATED SYSTEMS SECTION -->
  <section id="guide-page-related-systems" class="container guide-page-content px-0">
    {{ $totalRelated := 0 }}
    {{ $relatedLabel := "" }}
    {{ $guides := "" }}
    {{ if isset .Params "related_systems" }}
      {{ $totalRelated = .Params.related_systems | len }}
      {{ $relatedLabel = "Systems" }}
      {{ $guides = .Params.related_systems }}
    {{ else if isset .Params "related_plants" }}
      {{ $totalRelated = .Params.related_plants | len }}
      {{ $relatedLabel = "Plants" }}
      {{ $guides = .Params.related_plants }}
    {{ else }}
      {{ $totalRelated = .Params.related_components | len }}
      {{ $relatedLabel = "Components" }}
      {{ $guides = .Params.related_components }}
    {{ end }}
    <div class="d-flex align-items-center mb-1" style="padding-top: 4rem;">
      <h3 class="mb-0">
        {{ $totalRelated }} Related {{ $relatedLabel }}
      </h3>
      <a class="ml-4" href="{{ .Site.BaseURL }}">Browse All {{ $relatedLabel }}</a>
    </div>
    <div class="d-flex flex-wrap justify-content-between py-4">
    {{ range .Site.RegularPages }}
      {{ if in $guides .Title }}
        {{ partial "guides/related.html" . }}
      {{ end }}
    {{ end }}
    </div>
  </section>
</section>

<script>
  function hideRelatedSystems() {
    $('#guide-page-related-systems').hide();
  }
  function hideBorrowEquipment() {
    $('#guide-page-borrow-equipment').hide();
  }
  

  $('#TableOfContents > ul > li').on('click', (event) => {
    $('#TableOfContents > ul > li').removeClass('active-item');
    $(event.currentTarget).addClass('active-item');
  })

  $(document).ready(() => {
    $(window).scroll(() => {
      if ($(this).scrollTop() > 500) {
        $('#back-to-top').fadeIn();
      } else {
        $('#back-to-top').fadeOut();
      }
    });
    $('#back-to-top').click(() => {
      $('body,html').animate({
        scrollTop: 0
      }, 400);
      return false;
    });
  });

  hideRelatedSystems()
  hideBorrowEquipment()
</script>
