{{ $page_type := .Params.type }}
<section class="guide-header-wrapper bg-primary text-light">
  <div class="guide-header container">
    <div class="guide-header-title w-100 py-4 pr-2">
      <div class="px-0 mr-3">
        <h1 class="mb-0">{{ .Title }}<span class="chip px-3 py-2">
          {{ .Params.type | title }}
        </span></h1>
      </div>
    </div>
    <div class="guide-header-tab-items">
      {{ range .Site.Data.page_tabs.tabs }}
        {{ if eq .name $page_type }}
          {{ range .tabs }}
            <button 
              id="tab-item-{{ .name }}" 
              class="header-tab-item" 
              onclick="displayGuideContent(event)"
            >
              <div>
                <img src="{{ .icon | absURL }}" class="img-fluid">
              </div>
              {{ .label }}
            </button>
          {{ end }}
        {{ end }}
      {{ end }}
      <!-- {{ if isset .Params "related_systems" }}
      <button 
        id="tab-item-related-systems" 
        class="header-tab-item"
        onclick="displayGuideContent(event)"
      >
        <div>
          <img src="{{ "images/hero/system-icon.png" | absURL }}" class="img-fluid">
        </div>
        Related Systems
      {{ else }}
      <button 
        id="tab-item-related-systems" 
        class="header-tab-item"
        onclick="displayGuideContent(event)"
      >
        <div>
          <img src="{{ "images/hero/component-icon.png" | absURL }}" class="img-fluid">
        </div>
        Related Components
      {{ end }}
      </button>
      {{ if isset .Params "borrow_equipment_url"  }}
      <button 
        id="tab-item-borrow-equipments" 
        class="header-tab-item"
        onclick="displayGuideContent(event)"
      >
        <div>
          <img src="{{ "images/hero/electric-plant-icon-white.png" | absURL }}" class="img-fluid">
        </div>
        Borrow Equipment
      </button>
      {{ end }} -->
    </div>
  </div>
</section>
<script>
  const measurementGuideTabItemID = 'tab-item-measurement-guides';
  const calculationTabItemID = 'tab-item-calculation';
  const measurementTabItemID = 'tab-item-measurement';
  const relatedSystemTabItemID = 'tab-item-related-systems';
  const relatedComponentsTabItemID = 'tab-item-related-components';

  const relatedMTsTabItemID = 'tab-item-related-mt';
  const relatedCMsTabItemID = 'tab-item-related-cm';

  const borrowEquipmentTabItemID = 'tab-item-borrow-equipments';

  function displayGuideContent(evt) {
    var activeTabItemID = evt.currentTarget.id;
    const expectedTabItemIDs = [
      measurementGuideTabItemID, 
      calculationTabItemID,
      measurementTabItemID,
      relatedSystemTabItemID, 
      relatedComponentsTabItemID,
      relatedMTsTabItemID,
      relatedCMsTabItemID,
      borrowEquipmentTabItemID
    ]
    if (!expectedTabItemIDs.includes(activeTabItemID)) return;

    if (activeTabItemID == borrowEquipmentTabItemID) {
      return location.href = {{ .Params.borrow_equipment_url }};
    };

    hidePageContents()
    removeTabItemActiveClass()
    addTabItemActiveClass(activeTabItemID)

    if (activeTabItemID == measurementGuideTabItemID) {
      $('#guide-page-measurement-guides').show()
    }

    // For CMs and MTs
    if (activeTabItemID == calculationTabItemID 
        || activeTabItemID == measurementTabItemID) {
      showCalculationAndMeasurementContent()
      hideRelatedCMs()
      hideRelatedMTs()
    }

    if (activeTabItemID == relatedSystemTabItemID 
        || activeTabItemID == relatedComponentsTabItemID) {
      $('#guide-page-related-systems').show()
    }

    if (activeTabItemID == relatedCMsTabItemID) {
      hideCalculationAndMeasurementContent()
      showRelatedCMs()
    }

    if (activeTabItemID == relatedMTsTabItemID) {
      hideCalculationAndMeasurementContent()
      showRelatedMTs()
    }
  }

  function hidePageContents() {
    $('.guide-page-content').hide()
  }

  function showCalculationAndMeasurementContent() {
    $('#{{ .Params.type }}-page-content').show()
  }

  function hideCalculationAndMeasurementContent() {
    $('.{{ .Params.type }}-page-content').hide()
  }

  function showRelatedMTs() {
    $('#{{ .Params.type }}-page-related-mt').show()
  }

  function hideRelatedMTs() {
    $(document).ready(() => {
      $('#{{ .Params.type }}-page-related-mt').hide()
    })
  }

  function showRelatedCMs() {
    $('#{{ .Params.type }}-page-related-cm').show()
  }

  function hideRelatedCMs() {
    $(document).ready(() => {
      $('#{{ .Params.type }}-page-related-cm').hide()
    })
  }

  function removeTabItemActiveClass() {
    $('.header-tab-item').removeClass('active')
  }

  function addTabItemActiveClass(id) {
    $(`#${id}`).addClass('active')
  }

  function initializeGuidePage() {
    document.getElementById(measurementGuideTabItemID).click()
  }

  function initializeCTsPage() {
    document.getElementById(calculationTabItemID).click()
  }

  function initializeMTsPage() {
    document.getElementById(measurementTabItemID).click()
  }

  function setActiveTab() {
    const pageType = {{ .Params.type }};

    if (['plant','system','component'].includes(pageType)) initializeGuidePage();
    if (pageType == 'calculation') initializeCTsPage();
    if (pageType == 'measurement') initializeMTsPage();
  }

  setActiveTab()
</script>