{{ $page_type := .Params.type }}
<section class="bg-primary text-light">
  <div class="guide-header container-lg px-lg-0 px-sm-5">
    <div class="guide-header-title w-100 py-4">
      <div class="px-0 mr-3" style="max-width: 80%;">
        <h1 class="mb-0">{{ .Title }}</h2>
      </div>
      <div class="d-flex justify-content-center align-items-center px-2" style=" border-radius: 10px; background-color:#429049; height: 3rem;">
        {{ .Params.type | title }}
      </div>
    </div>
    <div class="guide-header-tab-items">
      {{ range .Site.Data.page_tabs.tabs }}
        {{ if eq .name $page_type }}
          {{ range .tabs }}
            <button 
              id="tab-item-{{ .name }}" 
              class="header-tab-item" 
              onclick="displayGuideContent(event)"
            >
              <div>
                <img src="{{ .icon | absURL }}" class="img-fluid">
              </div>
              {{ .label }}
            </button>
          {{ end }}
        {{ end }}
      {{ end }}
      <!-- {{ if isset .Params "related_systems" }}
      <button 
        id="tab-item-related-systems" 
        class="header-tab-item"
        onclick="displayGuideContent(event)"
      >
        <div>
          <img src="{{ "images/hero/system-icon.png" | absURL }}" class="img-fluid">
        </div>
        Related Systems
      {{ else }}
      <button 
        id="tab-item-related-systems" 
        class="header-tab-item"
        onclick="displayGuideContent(event)"
      >
        <div>
          <img src="{{ "images/hero/component-icon.png" | absURL }}" class="img-fluid">
        </div>
        Related Components
      {{ end }}
      </button>
      {{ if isset .Params "borrow_equipment_url"  }}
      <button 
        id="tab-item-borrow-equipments" 
        class="header-tab-item"
        onclick="displayGuideContent(event)"
      >
        <div>
          <img src="{{ "images/hero/electric-plant-icon-white.png" | absURL }}" class="img-fluid">
        </div>
        Borrow Equipment
      </button>
      {{ end }} -->
    </div>
  </div>
</section>
<script>
  const measurementGuideTabItemID = 'tab-item-measurement-guides';
  const relatedSystemTabItemID = 'tab-item-related-systems';
  const relatedComponentsTabItemID = 'tab-item-related-components';
  const borrowEquipmentTabItemID = 'tab-item-borrow-equipments';

  function displayGuideContent(evt) {
    var activeTabItemID = evt.currentTarget.id;
    console.log(activeTabItemID)
    const expectedTabItemIDs = [
      measurementGuideTabItemID, 
      relatedSystemTabItemID, 
      relatedComponentsTabItemID,
      borrowEquipmentTabItemID
    ]
    if (!expectedTabItemIDs.includes(activeTabItemID)) return;

    if (activeTabItemID == borrowEquipmentTabItemID) {
      return location.href = {{ .Params.borrow_equipment_url }};
    };

    hidePageContents()
    removeTabItemActiveClass()
    addTabItemActiveClass(activeTabItemID)
    if (activeTabItemID == measurementGuideTabItemID) {
      console.log($('#guide-page-measurement-guides'))
      $('#guide-page-measurement-guides').show()
    }
    if (activeTabItemID == relatedSystemTabItemID || activeTabItemID == relatedComponentsTabItemID) {
      $('#guide-page-related-systems').show()
    }
  }

  function hidePageContents() {
    $('.guide-page-content').hide()
  }

  function removeTabItemActiveClass() {
    $('.header-tab-item').removeClass('active')
  }

  function addTabItemActiveClass(id) {
    $(`#${id}`).addClass('active')
  }

  function initializeGuidePage() {
    document.getElementById(measurementGuideTabItemID).click()
  }
  initializeGuidePage()
</script>